.banner-area{
    background-color: #e4d0b7;
}
h1{
    margin: 0;
    color:  #131313;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    line-height: 50px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}
.content-area{
    width: 50%;
    margin: auto;
}
.banner-img{
    padding: 40px 0;
}
.banner-img img{
    width: 100%;
}